link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.5.3/css/bootstrap.min.css' rel='stylesheet')
script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.5.3/js/bootstrap.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
//---- Include the above in your HEAD tag ---------
head
    link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.5.3/css/bootstrap.min.css' rel='stylesheet')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.5.3/js/bootstrap.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    link(rel='stylesheet', href='../../stylesheets/login.css')
    // --- Include the above in your HEAD tag ---------
body#loginForm
    .container
        .login-form
            .main-div
                .panel
                    h2 Recuperación de password
                    p Revise su cuenta de email, le llegarán allí las instrucciones de reseteo del password
